venv/
__pycache__/
.env
.env.local
credentials.json
firebase_credentials.json
*.pdf

.vercel
.idea/
android/.idea/
.env*

# Android ignores
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
*.iml
